<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 Melhores Cabeleireiros | GetNinjast</title>
    <script src="/js/api.js" onload="getApi()"></script>
    <script src="/js/controle.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body onload="headFirst()">

    <form id="form-user" >
        <div class="head_first"></div>
        <div class="questionario"></div> 
        <div class="btn"></div> 
        <div class="roda_pe"><div class="etapas"></div></div>
          
    </form>
    
</body>
</html>